*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.claerflix::after{
    content: "";
    display: table;
    clear: both;
}
header{
    height: 100px;
    width: 80%;
    background-color:rgb(255, 161, 232);
    margin: auto;
    margin-bottom: 20px;
}

.first-one{
    height: 250px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(247, 234, 62);   
}

.second-one{
    height: 70px;
    width: 80%;
    background-color:royalblue;
    margin: auto;
    margin-bottom: 20px;

}
.content{
    margin:0 auto;
    padding:0;
    width: 80%p;
    
}
.box{
    height: 500px;
    width: 25%;
    margin: auto;
    background-color: royalblue; 
    border: 1px solid black;
    display: inline-block
       
}
.float{
    float: middle;
    padding: 10px;
    margin: 30px;
    
}
footer{
    height: 100px;
    width: 80%;
    background-color:rgb(192, 51, 235);
    margin: auto;
    margin-top: 20px;
}
}